In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\Nbdav\Instacart Basket Analysis'

In [3]:
df_prods_cleaned = pd.read_csv(os.path.join(path, '02 data',  'Prepared data', 'products_cleaned.csv'), index_col = False)

In [4]:
df_ords_products_merged = pd.read_pickle(os.path.join(path, '02 data', 'Prepared data','orders_cleaned_products_combined.pkl'))

In [5]:
df_prods_cleaned = df_prods_cleaned.drop(columns = ['Unnamed: 0',])

In [6]:
df_prods_cleaned

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3
...,...,...,...,...,...
49667,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49668,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49669,49686,Artisan Baguette,112,3,7.8
49670,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49671,49688,Fresh Foaming Cleanser,73,11,13.5

In [7]:
df_ords_products_merged = df_ords_products_merged.drop(columns = ['_merge','Unnamed: 0'])

In [8]:
#find way to merge columns products on order/orders_prior
df_ords_products_combined = df_ords_products_merged.merge(df_prods_cleaned, on = ['product_id'], how = 'left',indicator = True)

In [9]:
df_prods_cleaned

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3
...,...,...,...,...,...,...
49667,49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49668,49689,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49669,49690,49686,Artisan Baguette,112,3,7.8
49670,49691,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49671,49692,49688,Fresh Foaming Cleanser,73,11,13.5

In [9]:
df_ords_products_combined

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,ordered_today,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,True,196,1,0,Soda,77.0,7.0,9.0,both
1,2539329,1,prior,1,2,8,NaN,True,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both
2,2539329,1,prior,1,2,8,NaN,True,12427,3,0,Original Beef Jerky,23.0,19.0,4.4,both
3,2539329,1,prior,1,2,8,NaN,True,26088,4,0,Aged White Cheddar Popcorn,23.0,19.0,4.7,both
4,2539329,1,prior,1,2,8,NaN,True,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32435054,2977660,206209,prior,13,1,12,7.0,False,14197,5,1,Tomato Paste,9.0,9.0,5.6,both
32435055,2977660,206209,prior,13,1,12,7.0,False,38730,6,0,Brownie Crunch High Protein Bar,3.0,19.0,5.9,both
32435056,2977660,206209,prior,13,1,12,7.0,False,31477,7,0,High Protein Bar Chunky Peanut Butter,3.0,19.0,4.2,both
32435057,2977660,206209,prior,13,1,12,7.0,False,6567,8,0,Chocolate Peanut Butter Protein Bar,3.0,19.0,4.9,both
32435058,2977660,206209,prior,13,1,12,7.0,False,22920,9,0,Roasted & Salted Shelled Pistachios,117.0,19.0,1.7,both

In [10]:
df_ords_products_combined.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined_final.pkl'))